html, body{
    background-color: #1a1d21;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
/* ========================================================= Content ===*/
#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#content, #ss-form {
    left: 0;
    margin-top: -130px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* -------
-- Word --
------- */
dl{
    display: inline-block;
    margin: 0;
}
dt{
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    text-transform: capitalize;

    background-color: rgba(0,0,0,0.7);
    color: #000;
}
dt:hover{
    background:none;
    color: #111;
}
/*.safe{
    background-color: rgba(0,0,0,0.7);
    color: #000;
}
.safe:hover{
    background:none;
    color: #111;
}*/
.nsfw{
    background:none;
    color: #fff;
}
.nsfw:hover{
    color: #fff
}
dd{
    line-height: 1;
    margin: 0 0 0 10px;
    text-align: left;
}
/* -------
-- Form --
------- */
#ss-form input[type="text"]{
    background-color: rgba(0,0,0, 0.2);
    border: 1px solid rgba(26,143,198, 0.6);
    box-shadow: 0 0 16px rgba(26,143,198, 0.4),inset 0 0 12px rgba(26,143,198, 0.6);
    border-radius: 4px;
    color: #bbb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 0 0 15px;
    padding: 6px 8px 8px;
    width: 300px;
}
#ss-form input:focus{
    border: 1px solid #fff;
}
#ss-form input[type="submit"]{
    background-color: #2c3138;
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding: 8px;
    width: 316px;
}
#ss-form input[type="submit"]:hover{
    background-color: #363d45;
    color: #fff;
}
#ss-form input[type="submit"]:active{
    background-color: #22262b;
    color: #aaa;
}
.ss-item a{
    color: #2f343d;
    display: block;
    font-size: 10px;
    margin: 5px auto 0;
    text-align: right;
    text-decoration: underline;
    width: 316px;
}
#ss-form input[type="text"]:-moz-placeholder {
    color: rgba(26,143,198,0.4);
}
::-webkit-input-placeholder {
    color: rgba(26,143,198,0.4);
}
/* ========================================================= Footer ===*/
footer, .push {
    height: 50px;
}
footer{
    background-color: #000;
}
#footer-wrap{
    padding: 13px 20px;
}
footer #logo{
    display: inline-block;
}
footer h2{
    color: #AAAAAA;
    display: inline;
    font-size: 17px;
    font-weight: 100;
    margin: 0;
}
footer h2 img{
    margin: 0 5px 0 0;
    vertical-align: bottom;
}
footer #mode{
    color: #666666;
    display: inline;
    font-size: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}
footer #actions{
    float: right;
}
footer span{
}
footer .twitter-share-button{
    margin: 5px 0 0px;
    width: 75px !important;
}
/* ========================================================= Animation ===*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* ========================================================= Form ===*/
.btn{
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(224, 224, 224)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(224, 224, 224));
    background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(224, 224, 224));
    background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(224, 224, 224));
    background-image: linear-gradient(top, rgb(254, 254, 254), rgb(224, 224, 224));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fefefe', EndColorStr='#e0e0e0');
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-size: 11px;
    margin: 0 5px;
    padding: 2px 10px;
    vertical-align: text-top;
}
