<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Profane Oath</title>
        <meta name="description" content="A list of words">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/libs/modernizr-2.6.1.min.js"></script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35440225-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
    <!--[if lt IE 7]><p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p><![endif]-->

        <div id="container">
            <div id="content"></div><!--/content-->
            <div class="push"></div>
        </div><!--/container-->

        <footer>
            <div id="footer-wrap">
                <h2><img src="img/logo.png"/> Profane Oath</h2>              <!-- profaneoat or profaneoath? -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="profaneoat">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div><!--/footer-wrap-->
        </footer>

        <script type="text/template" id="item-template">
        	<dl>
				<dt><a href="#" id="oathlink"><%= title %></a></dt>
				<dd><%= pos %></dd>
				<!--<dd><%= definition %></dd>-->
			</dl>
		</script>

        <script type="text/template" id="item-new">
            <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dHZxdG5iTGNfLTU2ZXR5Ni1VQlZPZkE6MQ&amp;ifq" method="POST" id="ss-form">
                <div class="errorbox-good">
                    <div class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0" placeholder="Suggest a new word..." autocomplete="off">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" value="0">
                <input type="hidden" name="backupCache" value="">
                <div class="ss-item ss-navigate">
                    <div class="ss-form-entry">
                        <input type="submit" name="submit" value="Submit">
                    </div>
                </div>
            </form>
        </script>

		<!-- Dependencies -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="js/libs/underscore.js"></script>
        <script src="js/libs/backbone.js"></script>
        <script src="js/plugins.js"></script>

        <!-- Backbone -->
        <script src="js/backbone/models/curse.js"></script>
        <script src="js/backbone/collections/curses.js"></script>
        <script src="js/backbone/views/curseview.js"></script>
        <script src="js/backbone/views/cursesview.js"></script>
        <script src="js/backbone/views/newitemview.js"></script>
        <script src="js/backbone/routers/curseroute.js"></script>
    </body>
</html>
